/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styling */
.mongol {
  text-orientation: sideways-right;
  writing-mode: vertical-lr;
}

.mt5 {
  margin-top: 5px;
}

.pl5 {
  padding-left: 5px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

.horizontal {
  transform: rotate(-90deg);
}

/* header styling */
.header {
  display: flex;
  flex-direction: column;
  background: #0047be;
  width: 100%;
  margin-bottom: 5px;
}

.toplink {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: row;
  max-height: 900px;
  min-height: 750px;
}

.column {
  flex: 0 0 auto;
}

.column:nth-child(1) {
  width: 80px;
}

.column:nth-child(2) {
  flex: 0 0 30%;
}

.column:nth-child(3) {
  flex: 0 0 60%;
}

.column:nth-child(4) {
  flex: 1;
}

.logo {
  height: 56px;
}

/* search styling */
.searchBox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}
/*
.searchBox input {
  border-radius: 0.125rem 0 0 0.125rem;
  border-bottom-width: 0;
  border: 1px solid rgb(102, 102, 102);
}

.searchBox button {
  border: 1px solid rgb(102, 102, 102);
  border-top-width: 0;
  border-radius: 0 0.125rem 0.125rem 0;
}
*/
.searchBox input {
  margin-left: 3px;
}

.searchBox button {
  margin-top: 5px;
  border: 0;
  background-color: white;
}

.searchBox img {
  width: 20px;
  background-color: #fd9b08;
}

/* tiles styling */
.tiles {
  display: flex;
  flex-wrap: wrap;
}

.tiles a {
  text-decoration: none;
}

.tiles img {
  width: 60px;
}
.tiles .count {
  text-align: center;
}

.tiles article {
  display: flex;
  flex-grow: row;
  border: 1px solid #ccd7ea;
  border-radius: 5px;
  margin: 3px;
  padding: 3px;
}

.tiles .desc {
  font-size: 20px;
  padding-top: 20px;
}

/* blog styling */
.blog {
  display: flex;
}

.blog .date {
  text-align: right;
}
